/* Author: Anthony Beckwith */

.open-sans {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: white; /*white;/*rgb(250, 235, 223);*/
    font-family: "Open Sans";
    margin-left: 2vh;
    margin-right: 1vh;
    font-size: 2.2vh;
    /* overflow:hidden; */
}
.abouts {
    margin-left: 10vw;
    margin-right: 10vw;
}
#recents {
    margin-bottom: 25px;
    font-size: 1.5vw;
}
.nice-header {
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 90px;
}
.nice-header2 {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(234, 212, 112);
    padding: 10px;
    margin-top: 90px;
}
/* begin scrolling styles */
.main {
    display: flex;
    font-family: "Open Sans";
    font-size: 2vh;
    width: auto;
    height: 70%;
    background: #f7f7f7;
    margin: 0 auto;
    overflow: auto; /** overrides hidden of body that prevents scrolling **/
    margin-left: 6vw;
    margin-right: 1vw;
}
#bio {
    padding-right: 1vw;
    overflow-x: auto;
    overflow: auto;
}
.person-title{
    font-size: 2.0vw;
}
.name-link,
.letter-link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
.name-link {
    padding-bottom: 4%;
}
.name-link:hover,
.letter-link:hover,
.recents-name:hover {
    border: 1px solid black;
    border-radius: 5px;
     background-color: rgb(254, 230, 123);

}
.collapsible {
    background-color: #555; /* Opaque header */
    color: white;
    cursor: pointer;
    margin: 1vw 5vw;
    padding: 15px;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 1.2s;
}

.collapsible:hover {
    background-color: blue;
}

.about-content {
    padding: 0 20px;
    display: none;
    background-color: rgba(255, 255, 255, 0.6); /* Translucent haze effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin: 10px 5vw;
    border-radius: 8px;
    overflow: hidden;
    font-size: 90%;
    width: 70%;
    transition: max-height 1.2s ease-out;
}

.about-content p {
    padding: 10px;
    margin: 0;
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
    color: #666;
    text-align: center;
}

.sub-collapsible {
    margin-left: 20px;
    background-color: #888;
    padding: 10px;
    color: white;
}

.sub-collapsible:hover {
    background-color: #666;
}

.sub-content {
    background-color: rgba(
        255,
        255,
        255,
        0.7
    ); /* Slightly more opaque for sub-content */
    padding: 10px;
    border-radius: 5px;
}

/* dropdown menu for topics */
.dropbtn {
    background-color: rgb(237, 214, 114);
    color: black;
    padding: 5px;
    font-size: 2vh;
    border: none;
    cursor: pointer;
    font-family: "Open Sans";
    font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    font-size: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(234, 211, 110);
}

/** make it so the whole cell is clickable - esp. for side bar of names **/
td > a {
    display: block;
    width: 100%;
    height: 100%;
}
#bdaydisplay {
    /* border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: gray; */
    font-size: 1.5vw;
    padding: 0.2vw 1vw;

    margin-top: 30px;
    /* width: fit-content; */
    /* display: block; */
    align-content: center;
}
.left {
    /* width: 200vh; */
    flex-grow: 1;
    height: 100%;
    position: relative;
    max-width: 23vw;
    min-width: 12vw;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    background-color: white; /*rgb(250, 235, 223);*/
}
#footnote {
    font-size: 18px;
    font-style: italic;
}
/* table{
    font-size:89%; 
} */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #recents {
        font-size: 3.5vw;
    }
    #recents a {
        font-size: 4.5vw;
    }
    .left {
        max-width: 18%;
        min-width: 18%;
    }
    table {
        font-size: 45%;
    }
    .side-table {
        max-width: 12%;
        min-width: 12%;
    }
    #bio {
        font-size: 65%;
    }
    .person-title{
        font-size:80%;
    }
    .name-link {
        font-size: 224%;
    }
    .letter-link {
        font-size: 100%;
    }
    .name-heading {
        font-size: 12%;
    }
    img {
        width: 105px;
        height: auto;
    }
    .top-links {
        font-size: 70%;
    }
    .search-buttons {
        font-size: 70%;
    }
    #menu-bar {
        font-size: 70%;
    }
    #menu-bar {
        font-size: 30vw;
    }
}
/* table{font-size:20%! important;} */

.right {
    flex-grow: 1;
    padding-right: 20px;
    margin-right: 10px;
    display: flex;
    height: 100%;
    position: relative;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    background-color: white; /*rgb(250, 235, 223);*/
}

.first {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    overflow: auto;
}

.second {
    max-width: 467px;
    background-color: #2b2f3e;
    overflow: auto;
}
/* end scrolling styles */
div.content {
    margin-left: 2vw;
    padding: 1px 16px;
    /* height: 100px; */
}

/* end sidebar styles */
figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
.link-to-top {
    position: fixed;
    right: 0;
    bottom: 10;
    background-color: rgb(226, 203, 186);
    color: white;
    text-align: center;
    font-size: 1.9vh;
    border-radius: 3px;
}
.link-to-top a:visited {
    color: blue;
}
#bottom-button {
    height: 25px;
    padding: 4px;
    font-size: 10px;
    color: white;
    border-radius: 4px;
}
a.letter-links:visited {
    color: blue;
}
.letter-links {
    padding-right: 0.4vw;
    padding-left: 0.4vw;
}

.link-to-top a {
    text-decoration: none;
}
.bottom-line {
    border-width: 7px 0px 0px 0px;
    border-color: rgb(234, 212, 112);
    border-style: solid;
    width: 40%;
    text-align: left;
    align-items: left;
    display: inline-block;
    margin-left: 16vw;
    padding-top: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.name-heading {
    font-size: 2.8vw;
    margin-bottom: 10px;
    border-width: 0px;
    border-top: 7px;
    border-color: rgb(234, 212, 112);
    /* transition: border-width 1.6s linear; */
    border-style: solid;
    /* width:50%; */
}
.selected-ltr {
    color: green;
    border: 2px solid blue;
    border-radius: 5px;
    text-decoration: none;
}

.logo {
    padding: 2px;
    text-align: center;
}
/* RESPONSIVE MENU: */
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 11px;
    text-decoration: none;
    font-size: 14px;
}
a.search-buttons {
    color: rgb(234, 212, 112);
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04aa6d;
    color: white;
}

.topnav .icon {
    display: none;
}
#bio-container {
    margin: 2vw 13vw 2vw 6vw;
}

.headings {
    color: #ead470;
    background-color: black;
}

@media screen and (max-width: 700px) {
    strong,
    h1,
    h2,
    p a,
    .panel-heading a,
    #end-html #opening-pictures {
        font-size: 20px;
    }
    #bdaydisplay {
        font-size: 20px;
    }
    #size {
        font-size: 30px;
    }
    #end-html {
        font-size: 5px;
    }
    .flicker {
        font-size: 40px;
    }
    .email {
        font-size: 10px;
    }

    .email {
        font-size: 13px;
    }

    #myInput,
    #results a,
    .name-link,
    .letter-link,
    li,
    li a,
    #all-sources,
    #footnote,
    .style-box {
        font-size: 15px;
    }
    #all-sources {
        color: red;
        margin: 2vw 4vw;
    }

    .name-heading {
        font-size: 4%;
    }
    #bio-container {
        width: 54vw;
        font-size: 12px;
        margin: 5px;
    }
    a {
        font-size: 10px;
    }

    img {
        width: 105px;
    }
    #bio {
        margin: 0px;
        padding: 0px;
    }
    .topnav a {
        display: none;
    }
    /* .topnav a:not(:first-child) {
        display: none;
    } */
    body {
        font-size: 18px;
        margin-left: 2px;
    }
    .topnav a.icon {
        float: left;
        display: block;
        margin-top: 3px;
        background-color: #333;
    }
    .topnav a {
        font-size: 16px;
        padding: 5px 9px;
    }
    .topnav.responsive {
        position: relative;
    }
    .right {
        padding-right: 5px;
    }
    .topnav.responsive .icon {
        position: absolute;
        display: none;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

        /* other style changes here */
    }
}
#menu-text {
    font-family: "Open Sans", sans-serif;
}
#menu-text,
.fa:hover {
    color: white;
}
.search-buttons {
    border-width: 0px 1px 0px 0px;
    border-color: black;
    border-style: solid;
    font-weight: 900;
    color: rgb(254, 230, 123);
}
/* for random button*/
.random-button {
    background-color: rgb(76, 13, 92);
    border-radius: 15px;
    border-style: none;
    box-sizing: border-box;
    color: rgb(214, 191, 90);
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.random-button-sm {
    display: inline-flex;
    align-items: center;
    padding: 2.2vh;
    margin-bottom: 1vh;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5vh;
    color: white;
    border-radius: 1vh;
    background-color: rgb(76, 13, 92);
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    font-weight: 500;
    height: 2vh;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.random-button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
}
.random-button-sm:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: 0.1s;
}

@media (min-width: 768px) {
    .random-button {
        padding: 0 2.6rem;
    }
}
#results {
    font-size: 2vh;
    margin-right: 30vw;
}
.cwhp {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: gray;
    margin-top: 1vh;
    font-size: 3vh;
    padding: 7px;
    /* margin-top:10px; */
    width: fit-content;
    display: block;
    align-content: center;
}
#printy:hover{
    border: 1px solid black;
    border-radius:5px;
    padding:5px;
    background-color: rgb(254, 230, 123);
}
#opening-pictures {
    border-style: solid;
    border-radius: .5vw;
    border-width: .4vw;
    /* border-color: #ead470; */
    font-size: 1.9vw;
    padding: 0.4vw 1vw;
    text-align: center;
    border-color: black;
    /* margin-top:10px; */
    width: fit-content;
    display: block;
    align-content: center;
    background-color: #EAD470;
}

#menu-bar a {
    color: #fff;
    border-width: 1px 1px 0px 0px;
    border-color: white;
    border-style: solid;
    opacity: 100;
}
#myTopnav {
    z-index: 100000;
    position: sticky;
    top: 0;
    overflow: hidden;
}
#menu-bar {
    z-index: 100000;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000;
}

#menu-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vw 1vw;
    text-decoration: none;
    font-size: 1.3vw;
}

#menu-bar a:hover {
    color: white;
    text-decoration: underline;
}

#menu-bar a.active {
    background-color: rgb(234, 212, 112);
    color: white;
}

.content {
    padding: 16px;
}

#main {
    margin: 0px 10vw;
}
* {
    box-sizing: border-box;
}
/* 5 boxes on index.html*/
.index-page-text-in-boxes {
    max-width: 600px;
    margin: 0 auto;
}

.index-page-text-in-boxes ol {
    list-style: none;
    padding: 0;
}

.index-page-text-in-boxes li + li {
    margin-top: 1rem;
}
/* .index-page-text-in-boxes li:hover {
    background-color: black;
        color: rgb(243, 219, 200);

} */
.holographic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: #000;
}

.holographic-card {
    /* width: 300px;
  height: 200px; */
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.holographic-card h2 {
    color: #0ff;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.holographic-card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(0, 255, 255, 0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
}

.holographic-card:hover {
    transform: scale(1.18);
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.9);
}

.holographic-card:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
.index-page-text-in-boxes li {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(234, 212, 112);
    padding: 1.5rem;
    border-radius: 1rem;
    width: calc(100% - 2rem);
    box-shadow: 0.55rem 0.55rem 0.95rem rgb(0 0 0 / 0.3);
}

.index-page-text-in-boxes li::before {
    counter-increment: list-item;
    content: "";
    font-size: 1rem;
    font-weight: 700;
    width: 1em;
    height: 1em;
    background: black;
    flex: 0 0 auto;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-page-text-in-boxes li:nth-child(even) {
    flex-direction: row-reverse;
    background: rgb(76, 13, 92);
    margin-right: -7vw;
    margin-left: 5vw;
    color: white;
}
.opening-images:hover {
    border: 2px solid blue;
}
img:not(.opening-images) {
    border: solid 1px black;
    margin: 18px;
}
.index-page-text-in-boxes li:nth-child(even)::before {
    background-color: rgb(243, 219, 200);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    border-radius: 10px;

    opacity: 0;
    /* make things invisible upon start */
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 2.4s;
}

.fade-in.delayed {
    animation-delay: 5s;
}

.index-page-text-in-boxes.six {
    background-color: #222222;
}
#side-table-cats {
    overflow-x: auto;
    white-space: nowrap; /* Prevent content from wrapping */
}
input[type="text"] {
    width: 50%;
    border-style: solid;

    padding: 12px 20px;
    margin: 8px;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 3vh;
    border-color: #ead470; /* Change border color on focus */
}
input[type="text"]:focus {
    border-color: #ecc61d; /* Change border color on focus */
    box-shadow: 0 0 2px #ecc61d; /* Add a glow effect */
    outline: #ecc61d;
}
.flicker {
    font-size: 3vw;
    text-align: center;
    margin: 0.5rem auto;
    margin-bottom: 0.5vh;
    margin-left: 0.1vh;
    margin-right: 0.1vh;
    padding: 1.3vh;
    color: rgb(234, 212, 112);
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#e6e6e6),
            to(#1d1c1c),
            color-stop(0.8, #ffffff)
        )
        no-repeat;
    background: gradient(
            linear,
            left top,
            right top,
            from(#222),
            to(#222),
            color-stop(0.8, #fff)
        )
        no-repeat;
    background-size: 110px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 1.5s infinite;
}

@keyframes flick {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}
